workflows/notes-to-notion-auto-organizer.json
{
  "name": "Notes to Notion Auto Organizer",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/notes",
        "events": [
          "add"
        ],
        "options": {}
      },
      "id": "1427e35b-a37b-43d5-8aed-68f51300990d",
      "name": "Watch Notes Folder",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -128
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}"
      },
      "id": "687a481c-2c75-4fca-bc62-1f276a5affb3",
      "name": "Read Note File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -560,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "fileName",
              "value": "={{ $json.fileName || $json.path.split('\\\\').pop() }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "fileContent",
              "value": "={{ $binary.data ? $binary.data.toString('utf8') : $json.data }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "filePath",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
              "name": "createdDate",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3f8fc3c8-78bf-4c2e-ad61-e12d166e2fb4",
      "name": "Set Note Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI JSON response\n// n8n-nodes-base.openAi with jsonOutput: true returns parsed JSON directly\nconst aiResponse = $input.item.json;\n\n// If the response is already an object with category and tags, use it directly\nlet parsed = {};\nif (aiResponse.category && aiResponse.tags) {\n  parsed = aiResponse;\n} else if (typeof aiResponse === 'string') {\n  // Fallback: if it's a string, try to parse it\n  try {\n    parsed = JSON.parse(aiResponse);\n  } catch (e) {\n    parsed = { category: '未分類', tags: [] };\n  }\n} else if (aiResponse.message?.content) {\n  // Another fallback for different response format\n  try {\n    parsed = JSON.parse(aiResponse.message.content);\n  } catch (e) {\n    parsed = { category: '未分類', tags: [] };\n  }\n} else {\n  parsed = { category: '未分類', tags: [] };\n}\n\n// Get original data from previous node\nconst prevItem = $input.first();\n\nreturn {\n  fileName: prevItem.json.fileName,\n  fileContent: prevItem.json.fileContent,\n  filePath: prevItem.json.filePath,\n  createdDate: prevItem.json.createdDate,\n  category: parsed.category || '未分類',\n  tags: Array.isArray(parsed.tags) ? parsed.tags : []\n};"
      },
      "id": "eb0cfaca-ef38-4473-ac19-0e356d7c227d",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
              "name": "title",
              "value": "={{ $json.fileName.replace('.txt', '').replace('.md', '') }}",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
              "name": "content",
              "value": "={{ $json.fileContent }}",
              "type": "string"
            },
            {
              "id": "a7b8c9d0-e1f2-3456-1234-567890123456",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "b8c9d0e1-f2a3-4567-2345-678901234567",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "c9d0e1f2-a3b4-5678-3456-789012345678",
              "name": "processed",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "d0e1f2a3-b4c5-6789-4567-890123456789",
              "name": "createdDate",
              "value": "={{ $json.createdDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c27002e0-0b9b-4867-85fb-40dc6c13cfff",
      "name": "Format for Notion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -128
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "29e1972f485180c89c68d77f1b82e39f",
          "mode": "id"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Category",
              "textContent": "={{ $json.category }}"
            },
            {
              "key": "Tags",
              "multiSelectValue": "={{ $json.tags }}"
            },
            {
              "key": "Processed",
              "checkboxValue": "={{ $json.processed }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "richText": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8cddebc3-43f2-4582-945d-c431f0bc0521",
      "name": "Notion Create Item",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        464,
        -128
      ],
      "credentials": {
        "notionApi": {
          "id": "KQOYayZrx6kzGmwc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f1234567-890a-bcde-f123-4567890abcde",
              "leftValue": "={{ $now.minus({ days: 30 }).toMillis() }}",
              "rightValue": "={{ new Date($json.createdDate).getTime() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b676005-118a-4ebd-9445-e5284ab9c824",
      "name": "Old File Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        80
      ]
    },
    {
      "parameters": {
        "command": "=rm -f \"{{ $json.filePath }}\""
      },
      "id": "8bcdb043-1b75-435c-9ad2-959339c6877d",
      "name": "Delete Old File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        64,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "a555d4b6-e081-4407-acfe-e811e070e63f",
      "name": "Daily Reminder Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        272
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "29e1972f485180c89c68d77f1b82e39f",
        "returnAll": true,
        "options": {}
      },
      "id": "50ce48e6-cf72-4249-863b-3c7cf4dfa543",
      "name": "Get All Notes from Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -560,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "KQOYayZrx6kzGmwc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pick random note for reminder\nconst items = $input.all();\nconst randomIndex = Math.floor(Math.random() * items.length);\nconst randomNote = items[randomIndex].json;\n\nreturn {\n  title: randomNote.properties?.Title?.title?.[0]?.plain_text || 'No title',\n  url: randomNote.url,\n  category: randomNote.properties?.Category?.rich_text?.[0]?.plain_text || '未分類'\n};"
      },
      "id": "3ad9ffa1-ef16-4fa3-9fd9-9f4b1361c243",
      "name": "Random Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use OpenAI via HTTP with API key from n8n credentials\nconst apiKey = $env.OPENAI_API_KEY;\n\nif (!apiKey) {\n  throw new Error('OPENAI_API_KEY not configured. Please set it in n8n environment variables.');\n}\n\nconst prompt = `あなたはノート分類の専門家です。以下のノート内容を読んで、適切なカテゴリとタグを提案してください。\n\n【カテゴリ候補】\n- 技術メモ\n- 読書メモ\n- アイデア\n- 会議メモ\n- 個人メモ\n\n【出力形式】\nJSON形式で返してください:\n{\"category\": \"カテゴリ名\", \"tags\": [\"タグ1\"]}\n\nファイル名: ${$json.fileName}\n内容: ${$json.fileContent}`;\n\ntry {\n  const response = await $http.post('https://api.openai.com/v1/chat/completions', {\n    model: 'gpt-4o-mini',\n    messages: [\n      { role: 'user', content: prompt }\n    ],\n    temperature: 0.3,\n    response_format: { type: 'json_object' }\n  }, {\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  const content = response.data.choices[0].message.content;\n  const parsed = JSON.parse(content);\n\n  return {\n    category: parsed.category || '未分類',\n    tags: Array.isArray(parsed.tags) ? parsed.tags : []\n  };\n} catch (error) {\n  console.error('OpenAI API Error:', error.message);\n  return {\n    category: '未分類',\n    tags: ['エラー']\n  };\n}"
      },
      "id": "abdba613-0caa-442f-85eb-bfc63cdffada",
      "name": "OpenAI Category Tagging",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Watch Notes Folder": {
      "main": [
        [
          {
            "node": "Read Note File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Note File": {
      "main": [
        [
          {
            "node": "Set Note Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Note Metadata": {
      "main": [
        [
          {
            "node": "OpenAI Category Tagging",
            "type": "main",
            "index": 0
          },
          {
            "node": "Old File Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Category Tagging": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Format for Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Notion": {
      "main": [
        [
          {
            "node": "Notion Create Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Old File Check": {
      "main": [
        [
          {
            "node": "Delete Old File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Old File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Reminder Cron": {
      "main": [
        [
          {
            "node": "Get All Notes from Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Notes from Notion": {
      "main": [
        [
          {
            "node": "Random Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "timezone": "Asia/Tokyo"
  },
  "versionId": "4282424a-f820-4865-8301-3b9ca7f6e0d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c66144ee16d45af7e6eada54f34f7e34ca645b50a24113b20037dc875b6abf27"
  },
  "id": "3D3cefHi9r2b2aNh",
  "tags": []
}