workflows/notes-to-notion-schedule-trigger.fixed.json
{
  "name": "Notes to Notion Auto Organizer (Schedule Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-240, 0]
    },
    {
      "parameters": {
        "command": "find /notes -maxdepth 1 -type f \\( -name \"*.txt\" -o -name \"*.md\" \\) ! -name \".processed_files.txt\""
      },
      "id": "list-files-node-001",
      "name": "List All Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-48, 0]
    },
    {
      "parameters": {
        "command": "touch /notes/.processed_files.txt && cat /notes/.processed_files.txt"
      },
      "id": "get-processed-list-001",
      "name": "Get Processed List",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-48, 120]
    },
    {
      "parameters": {
        "jsCode": "// Filter out already processed files\n// This node receives data from BOTH List All Files and Get Processed List\nconst allInputs = $input.all();\n\nlet allFilesOutput = '';\nlet processedListOutput = '';\n\n// Identify inputs by heuristic\nfor (const item of allInputs) {\n  const stdout = item.json?.stdout || '';\n  if (stdout.includes('/notes/')) {\n    if (stdout.split('\\n').filter(Boolean).length > 1 || !processedListOutput) {\n      allFilesOutput = stdout;\n    } else if (!allFilesOutput) {\n      processedListOutput = stdout;\n    }\n  } else if (!processedListOutput) {\n    processedListOutput = stdout;\n  }\n}\n\nif (!allFilesOutput.trim()) {\n  return [];\n}\n\nconst allFiles = allFilesOutput.split('\\n').map(s => s.trim()).filter(Boolean);\nconst processedFiles = processedListOutput\n  ? processedListOutput.split('\\n').map(s => s.trim()).filter(Boolean)\n  : [];\nconst processedSet = new Set(processedFiles);\nconst unprocessedFiles = allFiles.filter(f => !processedSet.has(f));\n\nif (unprocessedFiles.length === 0) {\n  return [];\n}\n\nreturn unprocessedFiles.map(file => ({ json: { path: file, fileName: file.split('/').pop() } }));"
      },
      "id": "filter-unprocessed-001",
      "name": "Filter Unprocessed Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [336, 0]
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "options": {}
      },
      "id": "read-file-001",
      "name": "Read Note File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [528, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extract UTF-8 text content from binary produced by Read Binary File\nconst item = $input.item;\nconst path = item.json.path;\nconst fileName = (item.json.fileName || (path ? path.split('/').pop() : 'Untitled'));\n\nlet fileContent = '';\nif (item.binary) {\n  let base64Str = '';\n  if (typeof item.binary.data === 'string') {\n    base64Str = item.binary.data;\n  } else if (item.binary.data && typeof item.binary.data.data === 'string') {\n    base64Str = item.binary.data.data;\n  } else {\n    const firstKey = Object.keys(item.binary)[0];\n    const entry = item.binary[firstKey];\n    if (entry && typeof entry.data === 'string') {\n      base64Str = entry.data;\n    } else if (entry && entry.data && typeof entry.data.data === 'string') {\n      base64Str = entry.data.data;\n    }\n  }\n  if (base64Str) {\n    try {\n      fileContent = Buffer.from(base64Str, 'base64').toString('utf8');\n    } catch (e) {\n      fileContent = base64Str;\n    }\n  }\n}\n\nreturn { fileName, fileContent, filePath: path, createdDate: new Date().toISOString() };"
      },
      "id": "set-note-metadata-001",
      "name": "Set Note Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 0]
    },
    {
      "parameters": {
        "jsCode": "// Use OpenAI via HTTP with API key from env\nconst apiKey = $env.OPENAI_API_KEY;\nif (!apiKey) {\n  return { ...$input.item.json, category: '未分類', tags: [] };\n}\nconst inputData = $input.item.json;\nconst prompt = `あなたはノート分類の専門家です。以下のノート内容を読んで、適切なカテゴリとタグを提案してください。\n\n【カテゴリ候補】\n- 技術メモ\n- 読書メモ\n- アイデア\n- 会議メモ\n- 個人メモ\n\n【出力形式】\nJSON形式で返してください:\n{\"category\": \"カテゴリ名\", \"tags\": [\"タグ1\"]}\n\nファイル名: ${inputData.fileName}\n内容: ${inputData.fileContent}`;\n\ntry {\n  const response = await $http.post('https://api.openai.com/v1/chat/completions', {\n    model: 'gpt-4o-mini',\n    messages: [ { role: 'user', content: prompt } ],\n    temperature: 0.3,\n    response_format: { type: 'json_object' }\n  }, { headers: { Authorization: `Bearer ${apiKey}`, 'Content-Type': 'application/json' } });\n  const content = response.data.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  return { ...inputData, category: parsed.category || '未分類', tags: Array.isArray(parsed.tags) ? parsed.tags : [] };\n} catch (error) {\n  console.error('OpenAI API Error:', error.message);\n  return { ...inputData, category: '未分類', tags: [] };\n}"
      },
      "id": "openai-category-001",
      "name": "OpenAI Category Tagging",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [944, 0]
    },
    {
      "parameters": {
        "jsCode": "// Normalize and pass fields forward\nconst d = $input.item.json;\nreturn { fileName: d.fileName || 'Untitled', fileContent: d.fileContent || '', filePath: d.filePath || '', createdDate: d.createdDate || new Date().toISOString(), category: d.category || '未分類', tags: Array.isArray(d.tags) ? d.tags : [] };"
      },
      "id": "parse-ai-response-001",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, 0]
    },
    {
      "parameters": {
        "jsCode": "// Format data for Notion\nconst data = $input.item.json;\nlet tags = [];\nif (Array.isArray(data.tags)) tags = data.tags.map(t => String(t));\nelse if (data.tags) tags = [String(data.tags)];\nreturn { title: (data.fileName || data.filePath?.split('/').pop() || 'Untitled').replace(/\\.(txt|md)$/i, ''), content: data.fileContent || '', category: data.category || '未分類', tags, processed: true, filePath: data.filePath || '' };"
      },
      "id": "format-for-notion-001",
      "name": "Format for Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build Notion JSON payload\nconst d = $input.item.json;\nconst notionPayload = { parent: { database_id: '29e1972f485180c89c68d77f1b82e39f' }, properties: { title: { title: [ { text: { content: d.title || 'Untitled' } } ] }, Content: { rich_text: [ { text: { content: (d.content || '').substring(0, 2000) } } ] }, Category: { rich_text: [ { text: { content: d.category || '未分類' } } ] }, Tags: { multi_select: (d.tags || []).map(t => ({ name: String(t) })) }, Processed: { checkbox: d.processed || true } } };\nreturn { notionPayload, filePath: d.filePath || '', __metadata: { filePath: d.filePath || '' } };"
      },
      "id": "prepare-notion-data-001",
      "name": "Prepare Notion Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.notionPayload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json",
              "outputPropertyName": "notionResponse"
            }
          }
        }
      },
      "id": "create-notion-page-http-001",
      "name": "Create Notion Page (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1744, 0],
      "credentials": {
        "notionApi": {
          "id": "nsXTOjwR6MmTqoxn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": { "assignments": [ { "id": "filepath-assignment-001", "name": "filePath", "value": "={{ $json.filePath }}", "type": "string" } ] },
        "options": {}
      },
      "id": "set-filepath-001",
      "name": "Pass FilePath",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1936, 0]
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.filePath }}\" >> /notes/.processed_files.txt"
      },
      "id": "mark-processed-001",
      "name": "Mark As Processed",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2128, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [ [ { "node": "List All Files", "type": "main", "index": 0 }, { "node": "Get Processed List", "type": "main", "index": 0 } ] ]
    },
    "List All Files": {
      "main": [ [ { "node": "Filter Unprocessed Files", "type": "main", "index": 0 } ] ]
    },
    "Get Processed List": {
      "main": [ [ { "node": "Filter Unprocessed Files", "type": "main", "index": 0 } ] ]
    },
    "Filter Unprocessed Files": {
      "main": [ [ { "node": "Read Note File", "type": "main", "index": 0 } ] ]
    },
    "Read Note File": {
      "main": [ [ { "node": "Set Note Metadata", "type": "main", "index": 0 } ] ]
    },
    "Set Note Metadata": {
      "main": [ [ { "node": "OpenAI Category Tagging", "type": "main", "index": 0 } ] ]
    },
    "OpenAI Category Tagging": {
      "main": [ [ { "node": "Parse AI Response", "type": "main", "index": 0 } ] ]
    },
    "Parse AI Response": {
      "main": [ [ { "node": "Format for Notion", "type": "main", "index": 0 } ] ]
    },
    "Format for Notion": {
      "main": [ [ { "node": "Prepare Notion Data", "type": "main", "index": 0 } ] ]
    },
    "Prepare Notion Data": {
      "main": [ [ { "node": "Create Notion Page (HTTP)", "type": "main", "index": 0 } ] ]
    },
    "Create Notion Page (HTTP)": {
      "main": [ [ { "node": "Pass FilePath", "type": "main", "index": 0 } ] ]
    },
    "Pass FilePath": {
      "main": [ [ { "node": "Mark As Processed", "type": "main", "index": 0 } ] ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "timezone": "Asia/Tokyo"
  },
  "versionId": "schedule-fixed-001",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
